.modal-background {
    height: 100vh;
    width: 100vw;

    position: fixed;
    top: 0;
    left: 0;

    background: rgba(4, 9, 17, .8);

    display: flex;
}

.modal-background .modal {
    width: min(90%, 59rem);
    background: var(--white);

    border-radius: .8rem;
    margin: auto;

    font-family: 'Poppins', sans-serif;
    text-align: center;

    padding: 6.4rem 0;
}



.modal-background .modal h2 {
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 1.2rem;
    color: var();
}

.modal-background .modal p {
    margin-bottom: 2.4rem;
}


.modal-background .modal input {
    margin-bottom: 2.4rem;
    padding: 1.3rem 1.6rem;
    border: 2px solid var(--blue);
    width: min(30.2rem, 70%);
    height: 5rem;
}

.modal-background .modal .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-background .modal .buttons > button,
.modal-background .modal .buttons > .button {
    padding: 1.3rem 3.2rem;
}

.modal-background .modal .buttons > button {
    margin-left: 2.4rem;
}